pandas
numpy
astropy
ccdproc
inputimeout
requests
photutils
packaging
scikit-image
ephem
pyorbital
geopy
python-dateutil
lmfit
astroalign
matplotlib
colorlog
scipy
scikit-learn
astroquery
opencv-python
setuptools