astroalign
astropy
astroquery
ccdproc
colorlog
ephem
fast-histogram
geopy
inputimeout
lmfit
matplotlib
numpy
opencv-python
packaging
pandas
photutils
pyorbital
PyQt5
python-dateutil
requests
scikit-image
scikit-learn
scipy
setuptools